#hp_banner{
    width:1200px;
    height: 400px;
}

.nav-logo{
    width:20%;
}
.nav-image{
    width:100%;
}

.nav-txt{
    display: flex;
    justify-content: center;
}

.nav-conatiner{
    height:1%;
}

body {
    background-color: #ffe6b3;
}

figcaption{
    color:#000000;
}